
{% extends 'base.html' %}
    {%block title %} התחברות לקוח-משרד קרן המבר עורכת דין {% endblock%}

  {%block main%}
 <h1 class="h1">התחברות לקוח</h1>
 <form class="signInContainer" method="POST" action="/user_connection">

        <label for="email">כתובת מייל</label>
        <input type="email" id="email" name="email" required placeholder="מייל">

        <label for="password">סיסמא</label>

        <input type="password" id="password" name="password" required placeholder="סיסמה">




     <button id="signInButton" class="signButton" aria-label="Sign in">התחבר</button>
<div class="errorMsg"></div>

<script>
document.getElementById("signInButton").onclick = function() {
    window.location.href = "/user_profile";
};
</script>






     </form>
<div>
    <button class="Button" id="signUpButton" type="submit" value="submit" aria-label="Sign up"><a href="/user_create">לא נרשמת עדיין? הירשם </a> </button>
    </div>    <script src="../static/js/user_connection.js"></script>
  {%endblock%}
