  {% extends 'base.html' %}
    {%block title %} צור קשר-משרד קרן המבר עורכת דין {% endblock%}

  {%block main%}

  <h1 class="h1">טופס ליצירת קשר</h1>
    <form method="post"  action="/contact_us">
        <label for="firstName"> שם פרטי</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="lastName">שם משפחה</label>
        <input type="text" id="lastName" name="lastName" required>

        <label for="email">כתובת מייל</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">טלפון</label>
        <input type="tel" id="phone" name="phone" required>

        <label for="message">ההודעה שלך</label>
        <textarea id="message" name="message" required></textarea>

        <button  type="submit" id="formButton">שלח טופס</button>
      <script>
document.getElementById("formButton").onclick = function() {
    alert("הטופס נשלח בהצלחה!");

};
</script>
    </form>
      <script src="../static/js/contact_us.js" defer></script>


{% endblock%}



