<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/law_style.css">
<link rel="stylesheet" type="text/css" href="/static/css/variables.css">


  {%block title%}  <title> Base </title>  {% endblock%}
    <script src="/static/js/mainFunc.js" defer></script>
    <script src="/static/js/globals.js" defer></script>
</head>

<body>
{%include ('header.html')%}

 {%block main%}

{% endblock %}

{%include ('footer.html')%}
</body>
</html>




