    {% extends 'base.html' %}
    {%block title %} אודות-משרד קרן המבר עורכת דין | מקרקעין נדלן וצוואות {% endblock%}
    {%block main%}
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">

            <h1 class="h1">אודות</h1>
            <p class="text_new" >נעים מאוד,
     <br>
    קרן המבר, משרד עורכי דין. משרד בוטיק עם ניסיון רב המתמחה בשלושה תחומים עיקריים:  <br>
    1. מקרקעין ונדל"ן -ייצוג בעסקאות נדל"ן לרבות הסכמי מכירה ורכישה של דירות ונכסים מסחריים, התחדשות עירונית לרבות תמ"א 38 ופינוי בינוי. במסגרת זו, ניסיון בייצוג שני הצדדים קרי בעלי דירות ויזמים. חוזי שכירות של דירות ונכסים מסחריים, תביעות לפינוי נכס, הסדרת זכויות בכל מרשם שהוא והתנהלות שוטפת מול הגורמים הרלוונטיים בתחום זה.
        <br>
    2.  ירושות, צוואות, הסכמי ממון וייפוי כוח מתמשך.

     <br>
    3.  משפט מסחרי- ייעוץ משפטי, הסכמים וחוזים מסחריים עבור אנשים פרטיים, עסקים וחברות.
     </p>
    <h2 class="h2">אני מאמין </h2>
     <p class="text_new" >
    משרדי מעניק טיפול משפטי צמוד, מקצועי, יסודי ואישי לאורך כל התהליך עד להשגת התוצאה הרצויה בצורה הטובה והמהירה ביותר.
     <br>
    אני מאמין של המשרד הוא שירותיות בגובה העיניים לטובת הלקוח.
     <br>
    </p>

    <p>לתיאום פגישה, <br>
    מוזמנים לפנות למשרדי.  <br>
    </p>

    <div class="keren">
    <img src="/static/Pictures/keren.png" alt="keren" >
    </div>
{% endblock%}